<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <strong>&copy; 2023 Empresa de Gestión de Trabajadores</strong>. Todos
        los derechos reservados.
      </div>
      <div class="col-lg-6 text-lg-right">
        Desarrollado por
        <a target="_blank" rel="noopener noreferrer" href="https://appseed.us"
          >AppSeed</a
        >.
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-6">
        <a target="_blank" rel="noopener noreferrer" href="https://adminlte.io"
          >AdminLTE</a
        >
        - Herramienta de administración de código abierto.
      </div>
      <div class="col-lg-6 text-lg-right">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://appseed.us/product/adminlte/flask/"
          >AdminLTE para Flask</a
        >
        - Adaptado por Roger Infa Sánchez.
      </div>
    </div>
  </div>
</footer>
